<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diushuttle">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".completeRequest"
            android:label="Complete Request"
            android:parentActivityName=".Rider"></activity>
        <activity android:name=".currentRequest"
            android:label="Current Request"
            android:parentActivityName=".Rider"/>
        <activity
            android:name=".busInfo"
            android:label="Bus Information"
            android:parentActivityName=".Rider" />
        <activity
            android:name=".busReservation"
            android:label="Bus Reservation"
            android:parentActivityName=".Rider" />
        <activity
            android:name=".routeMap"
            android:label="Route Map"
            android:parentActivityName=".Rider" />
        <activity
            android:name=".FeedBack"
            android:label="Feedback"
            android:parentActivityName=".Rider" />
        <activity
            android:name=".NoticeBoard"
            android:label="Notice Board"
            android:parentActivityName=".Rider" />
        <activity
            android:name=".BusStoppage"
            android:label="Bus Stoppage"
            android:parentActivityName=".Rider" />
        <activity
            android:name=".DriverMap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".fare_calculator"
            android:label="Fare"
            android:parentActivityName=".Rider"
            android:windowSoftInputMode="adjustPan" /> <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".user_reg_complete"
            android:label="Register"
            android:parentActivityName=".user_registration"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user_registration"
            android:label="Register"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user_profile"
            android:label="Profile"
            android:parentActivityName=".Rider"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UpdatePassword"
            android:label="Change Password"
            android:parentActivityName=".user_profile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>